<% unless @message&.empty? %>
  <%= @message %>
<% end %>

<h1>秘密のパスワードを入力してください</h1>

<form class="lattice" action="/secret-puzzle-login" method="post">
<div class="lattice-rows">
  <% 9.times do |i| %>
  <div class="lattice-label"><%= i unless i.zero? %></div>
  <% end %>
</div>
<% char = 'A' %>
<% 8.times do |y| %>
  <div class="lattice-rows">
    <div class="lattice-label"><%= char %></div>
    <% char.succ! %>
    <% 8.times do |x| %>
      <input type="checkbox" class="lattice-item-hidden" name="sessionid[]" id="item-<%= x %>-<%= y %>" value="<%= x %>,<%= y %>">
      <label for="item-<%= x %>-<%= y %>" class="lattice-item lattice-toggle-button">●</label>
    <% end %>
  </div>
<% end %>

<input type="submit" class="mdc-button mdc-button--outlined login-button" value="ログイン"/>
</form>

<a href="/login">ID/PWでログイン</a>
