<h2>完成したCSS</h2>

<div class="preview-area">
  <%= $TARGET_HTML %>
</div>

<div class="target-html-area">
<!-- 以下は気持ち悪くても修正しない(見た目が崩れる) -->
  <pre class="raw-target-html">
<div class="raw-title">html</div>
<%= html_safe $TARGET_HTML %></pre>

  <pre class="raw-target-style">
<div class="raw-title">style</div>
&lt;style&gt;
<%= html_safe @style %>
&lt;/style&gt;</pre>
</div>

<form name="send_form" action="/proud" method="post">
<input type="hidden" name="id" value="<%= @id %>">
<input type="hidden" name="token" value="<%= user.sessionid %>">
<a class="mdc-button mdc-button--raised to-edit-button" href="/fix?id=<%= @id %>" style="--mdc-theme-primary: #00695C;">修正する</a>
<a type="submit" class="mdc-button mdc-button--raised to-edit-button" href="javascript:send_form.submit();">管理者に自慢する</a>
</form>

<!-- empty -->
<div style="height: 20vh"></div>

<style>
<%= @style %>
</style>
